@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');

body {
    background-image: url(templates/planopin.jpg);
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    height: 100%;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navbar {
    text-align: center;
    padding: 10px 0;
    background-color: transparent;
}


.navbar-brand{
    font-weight: bold;
    font-size: 60px;
    font-family: "Qwitcher Grypen", cursive;
}


.container {
    text-align: center;
    margin-bottom: 30px;
}

.carousel-inner img {
    margin: 0 auto;
}


.carousel-inner {
    margin: auto;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.carousel-inner img {
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}


#carouselExample {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;

}

#carousel2{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;

}

#botao1{
    width: 80%;
    margin: auto;
}

#botao2{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

.btn-custom-green{
    background-color:#858652;
}

h1{
    font-family: "Old Standard TT", serif;
}

a{
    font-family: "Poppins", sans-serif;
}

a1{
    font-family: "Old Standard TT", serif;  
}

p{
    font-family: "Poppins", sans-serif;
    width: 80%;
    margin: 0 auto;
}


#ContainerPrincipal{
    background-color: #85865252;
    padding-bottom: 15px;
    border-radius: 10px;
    padding-top: 5px;
}

#JardimSecreto{
    padding-bottom: 10px;
    border-radius: 5px;
}

.container-sm{
    background-color: #85865252;
    border-radius: 10px;
    height: 65px;
}

.containerInfos{
    background-color: #858652;
    display: flex;
    margin: auto;
    border-radius: 10px;
}

#LinksAvulsos{
    padding-top: 15px;
    padding-left: 5%;
}

#RedesSociais{
    padding-top: 15px;
    padding-left: 5%;

}